%footer
  .first
    %h3 Participa
    %p
      ¿Quieres participar en una de las próximas reuniones? Escribe a
      = link_to "frontendersvalencia@gmail.com", "mailto:frontendersvalencia@gmail.com"

  .middle
    %h3 Síguenos
    %p
      = link_to "@frontendersVLC", "https://twitter.com/frontendersVLC", :title => "@frontendersVLC on Twitter", :target => "_blank"
      = link_to "#frontendersVLC", "https://twitter.com/search?q=%23frontendersVLC", :title => "Hashtag #frontendersVLC", :target => "_blank"      

  .last
    %h3 Partner
    %p
      = link_to "GeeksHubs", "http://geekshubs.com/es/?utm_source=comunidades&utm_medium=web&utm_campaign=frontenders", :title => "Comunidad Geek y Emprendedores techies", :target => "_blank"
