%header
  %h1
    = link_to "&lt;frontenders/&gt;", "/", :title => "Frontenders Valencia"
    %span valencia

  %h2
    a meetup for
    %span Frontend & UI Developers,
    %span UX & Web Designers

  %nav
    %ul
      %li
        = link_to "¿Que es?", "/frontenders.html", :title => "¿Que es? Frontenders"
      %li
        = link_to "Anteriores", "/past.html", :title => "Los eventos anteriores"

