---
title: ¿Que es? Frontenders
---

%main{:role => "main"}
  %h2 ¿Qué es Frontenders Valencia?
  %p
    %b “The front end is an interface
    between the user and the back end.”
    %cite
      =link_to "Wikipedia", "http://en.wikipedia.org/wiki/Front_and_back_ends", :target => "_blank"

  %p
    Esta definición resume en muy pocas palabras lo que entendemos por
    = succeed '.' do
      %em frontender
    la persona que se ocupa de la interfaz, en nuestro caso, de aplicaciones web.

  %p
    En Frontenders Valencia trataremos temas en los que arte, diseño, interacción, programación y análisis del comportamiento y de las prestaciones confluyen.

  %p
    Dos charlas de aproximadamente media hora, donde alguien presenta un tema, por conocimiento o por experiencia, y los demás intervienen con sus consejos o preguntas, ya que las reuniones pretenden ser diálogos donde todos puedan aportar y aprender.

  %p
    Por eso, pedimos a todos los interesados que propongan nuevas charlas y participen activamente en los próximos meetups. Si eres desarollador frontend, experto en UI y UX, o diseñador web y quieres colaborar con nosotros escríbenos a
    = succeed '.' do
      = link_to "frontendersvalencia@gmail.com", "mailto:frontendersvalencia@gmail.com"

  %p
    = link_to "&laquo volver", "/"