---
title: a meetup for Frontend & UI Developers, UX & Web Designers
ready: true
---

<% 
  if current_page.data.ready 
    homepage = data.new.meetup 
  else
    homepage = data.default.meetup
  end 
%>

<div id="main" role="main" class="clearfix">

        <p class="eyelet margin_top_0">
          Frontenders es una reunión mensual centrada en temas de desarrollo frontend, diseño web, UI y UX.
          Nos encontramos regularmente el segundo jueves de cada mes en el espacio de coworking <a target="_blank"  href="http://geekshubs.com/es/?utm_source=comunidades&utm_medium=web&utm_campaign=frontenders"  title="Comunidad Geek y Emprendedores techies">GeeksHubs</a>, en Avenida Cataluña, 11 (Valencia). <a href="frontenders.html">¿Quieres saber más?</a>
      </p>

      <h2 class="centered orange scream">Próximo meetup: <span>jueves 9 mayo 2013, 19:00h</span></h2>

      <% homepage.talks.each do |f| %>
        <section class="content first_box undefined">
          <h2><%= f[:title] %></h2>
          <% f.text.each do |t| %>
            <p><%= t %></p>
          <% end %>
        </section>
      <% end %>

    </div>